@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-color: #FFF;
	font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
